.trip-grid-container {
    margin: 3rem 4rem;
    display: grid;
    grid-template-columns: 1fr;
}

.trip-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trip-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.trip-name {
    text-align: center;
}

.trip-descriptors {
    display: inherit;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    margin: 2rem 0;
}

@media screen and (min-width: 560px) {
    .trip-descriptors {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

.descriptor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
}

.icon-calendar {
    height: 25px;
}

.trip-dates {
    text-align: center;
}

@media screen and (min-width: 560px) {
}

.trip-category {
    text-transform: uppercase;
}

.trip-board {
    display: inherit;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
}

.trip-text {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: calc(100% - 4px);
    height: calc(100%);
    grid-column: auto;
    text-align: center;
    justify-self: center;
    align-self: center;
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    border: solid 4px #333;
    border-radius: 2px;
}

#placeholder-1 {
    width: calc(100% - 4px);
    height: 300px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#placeholder-2 {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    padding-bottom: 4px;
}

#placeholder-3 {
    width: calc(100% - 4px);
    height: 100%;
}

.trip-board-image {
    max-width: 100%;
    object-fit: cover;
    align-self: center;
    justify-self: center;
    border-radius: 2px;
}
