.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 2em gray;
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em gray;
    transform: translateY(-0.25em);
}

.trips-header {
    display: flex;
    justify-content: space-between;
}

.trips-header--text {
    display: flex;
    align-items: center;
}
.trips-search {
    height: 30px;
    border: 1px solid #00000057;
    font-size: 18px;
    outline: none;
    padding: 2px 5px;
    color: #000000ce;
    border-radius: 5px;
}

.trips-search::placeholder {
    color: #00000075;
}

.trips-wrap .card-wrap {
    max-width: 25vw;
}

.trips-wrap .card-wrap p {
    word-wrap: break-word;
}

@media only screen and (max-width: 968px) {
    .trips-wrap .card-wrap {
        max-width: none;
    }
}

@media only screen and (max-width: 700px) {
    .trips-header {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }

    .trips-search {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 450px) {
    .trips-title {
        font-size: 23px !important;
    }

    .trips-search {
        width: 150px;
    }
}
