@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5f5;
}

#root {
  width: 100%;
}

.header-wrap {
  border: 1px solid lightslategray;
  width: 100%;
  height: 50px;
}

/* Trips */
.trips-wrap {
  margin: 1px 0;
  display: flex;
  flex-direction: column;
}

.trips-title {
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 5px;
}

.trips-cards-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 640px) {
  .trips-wrap {
    align-items: center;
    margin: 0 auto;
  }
}

/* Card */
.card-wrap {
  border-radius: 4px;
  border: 1px solid lightgray;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 2px 1px -1px rgba(0,0,0,0.12);
  margin: 1rem;
  width: 90%;
}

.card-image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 260px;
  object-fit: cover;
  width: 100%;
}

.card-content-wrap {
    padding: 16px;
}

.card-name {
  font-weight: 400;
  margin: 0;
}

.card-date {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 300;
}

.card-copy {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.01071em;
  line-height: 1.43;
}

.card-bottom-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.card-category {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

/* Card */
.guests-wrap {
    display: flex;
}

.guests-icon {
    height: 25px;
    margin: 0 -5px;
    color: rgba(0, 0, 0, 0.54);
}

@media only screen and (max-width: 968px) {
  .trips-cards-wrap {
    grid-template-columns: none;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
}

.nav-option {
  display: flex;
  align-items: center;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}

.opt-wrapper:hover .nav-option {
  cursor: pointer;
  text-shadow: 2px 2px 20px rgb(42, 143, 129);
  transform: rotate(-360deg);
  border-radius: 5px;
  border: 1px solid rgb(42, 143, 129);
}

/* Badge */
.badge {
    background: linear-gradient(45deg, #2193b0, #6dd5ed);
    border-radius: 0.8em;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
    vertical-align: top;
}

/* Button */
.button {
    border: 2px solid #f44336;
    height: 5vh;
    width: 10vw;
    text-transform: uppercase;
    text-align: center;background: none;
    align-self: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: #f44336;
    font-size: 14px;
    font-weight: 400;
    transition: .3s;
    border-radius: 8px;
}

.button:active {
  transform: scale(1.1);
}

.button:hover {
    border: 2px solid #f44336;
    background-color: #f44336;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
