@import url(
    http://fonts.googleapis.com/css?family=Roboto:400,
    100,
    100italic,
    300,
    300ita‌​lic,
    400italic,
    500,
    500italic,
    700,
    700italic,
    900italic,
    900
);

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.87);
    background-color: #f5f5f5;
    margin: 0;
}

a{
	text-decoration: none;
}
#root {
    width: 100%;
    margin: 7rem 3rem;
}

.header-container {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.header-wrap {
    width: 100%;
    height: 50px;
    padding: 20px 0;
    background: #000;
    transition: 200ms all ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-shrink {
    padding: 10px 0;
    height: 40px;
}

.back-link-arrow {
    padding-left: 25px;
    font-size: 50px;
    text-decoration: none;
}

/* Trips */
.trips-wrap {
    margin: 1px 0;
    display: flex;
    flex-direction: column;
}

.trips-title {
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    margin-right: 1rem;
}

.trips-header {
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.trips-cards-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 968px) and (min-width: 641px) {
    .trips-cards-wrap {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 640px) {
    .trips-cards-wrap {
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 640px) {
    .trips-wrap {
        align-items: center;
        margin: 0 auto;
    }
}

/* Card */
.card-wrap {
    border: 1px solid lightgray;
    padding: 0.6rem;
    box-shadow: 0 20px 15px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 968px) {
     .button {
        width: 40vw !important;
     }
    .card-wrap {
        margin: 1rem 0;
        border-radius: 4px;
        border: 1px solid lightgray;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
            0px 2px 1px -1px rgba(0, 0, 0, 0.12);
        margin: 1rem;
        width: 90%;
    }
}

.card-image {
    border-radius: 4px;
    height: 260px;
    object-fit: cover;
    width: 100%;
}

.card-content-wrap {
    padding: 16px;
}

.card-name {
    font-weight: 400;
    margin: 0;
    color: black;
}

.card-date {
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(94, 93, 93);
}

.card-row {
    margin-bottom: 30px;
}
.card-copy {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.01071em;
    line-height: 1.43;
    word-break: break-all;
}

.card-bottom-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.card-category {
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* Card */
.guests-wrap {
    display: flex;
}

.guests-icon {
    height: 25px;
    margin: 0 -5px;
    color: rgba(0, 0, 0, 0.54);
}

@media only screen and (max-width: 740px) {
    .trips-cards-wrap {
        grid-template-columns: none;
    }
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding-left: 0;
    text-transform: capitalize;
}

.nav-option {
    color: #fff;
    display: flex;
    align-items: center;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    font-weight: bold;
    padding: 10px;
}

a.nav-option {
    color: #fff;
    text-decoration: none;
}

.opt-wrapper {
    margin: 0 25px;
    transition: all 0.2s linear;
}

.opt-wrapper:hover .nav-option {
    cursor: pointer;
    text-shadow: 2px 2px 20px rgb(42, 143, 129);
    background: #f44336;
    border-radius: 5px;
}

@media only screen and (max-width: 710px) {
    .opt-wrapper {
        margin: 0 15px;
    }
}

@media only screen and (max-width: 610px) {
    .opt-wrapper {
        margin: 0 8px;
    }
}

@media only screen and (max-width: 530px) {
    .opt-wrapper {
        margin: 0 2px;
    }
}
@media only screen and (max-width: 460px) {
    .nav-option {
        font-size: 14px;
    }
}
@media only screen and (max-width: 430px) {
    .nav-option {
        margin: 0px;
        font-size: 12px;
    }
}

/* Badge */
.badge {
    background: linear-gradient(45deg, #2193b0, #6dd5ed);
    border-radius: 0.8em;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    text-align: center;
    width: 1.6em;
    vertical-align: top;
}

/* Button */
.button {
    border: 2px solid #f44336;
    height: 7vh;
    width: 12vw;
    text-transform: uppercase;
    text-align: center;
    background: none;
    align-self: center;
    cursor: pointer;
    margin: 0;
    padding: 5px;
    color: #f44336;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s;
    border-radius: 8px;
}

.button:active {
    transform: scale(1.1);
}

.button:hover {
    border: 2px solid #f44336;
    background-color: #f44336;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

@media only screen and (max-width: 887px) {
    .button {
        height: 9vh;
        width: 14vw;
    }
}
@media only screen and (max-width: 710px) {
    .button {
        width: 20vw;
    }
}
@media only screen and (max-width: 520px) {
    .button {
        width: 25vw;
    }
}
